.playGrid {
  display: grid;
  grid-template-columns: repeat(10, 1em);
  grid-template-rows: repeat(10, 1em);
}

.cell {
  outline: 1px dotted lightgray;
  font-size: x-small;
  min-width: 1em;
  min-height: 1em;
}

.cell--ship {
  outline: 1px solid black;
}

.cell--miss {
  background: lightpink;
  outline: 1px dotted lightgray;
}

.cell--hit {
  background: red;
  outline: 1px solid black;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}